<div class="arrivals">
	<div class="arrivals__head">
		<h2>Новые поступления</h2>
	</div>
	<div class="arrivals__new-arrivals">
		<div class="arrivals__card arrivals__card1">
			<div class="arrivals__container">
				<div class="arrivals__card__header">
					<h4>Бестселлер</h4>
					<span>1+1=3</span>
				</div>
				<div class="arrivals__card__title">
					<picture>
						<img src="img/image1.png" alt="">
					</picture>
				</div>
				<div class="arrivals__card__body">
					<p class="arrivals__card__body__first-line">Корпоративное право</p>
					<p class="arrivals__card__body__second-line">Инвестирование: способы, риски, субъекты : монография</p>
					<p class="arrivals__card__body__third-line">Майфат А.В.</p>
					<h4>4450₽ </h4>
					<div class="arrivals__card__body__rating">
						<span>{% include 'assets/svg/star.svg' %}4.9</span>
						<span>{% include 'assets/svg/like.svg' %}89% рекомендуют</span>
					</div>
				</div>
				<div class="arrivals__card__footer">
					<button class="arrivals__card__footer__button1">
						{% include 'assets/svg/icon5.svg' %}
							<span>В корзину</span>
					</button>
					<button class="arrivals__card__footer__button2">
						{% include 'assets/svg/icon6.svg' %}
					</button>
				</div>
			</div>
		</div>
		<div class="arrivals__card arrivals__card2">
			<div class="arrivals__container">
				<div class="arrivals__card__header arrivals__card2__header">
					<h4>Новинка</h4>
				</div>
				<div class="arrivals__card__title">
					<picture>
						<img src="img/image2.png" alt="">
					</picture>
				</div>
				<div class="arrivals__card__body">
					<p class="arrivals__card__body__first-line">Корпоративное право</p>
					<p class="arrivals__card__body__second-line">Инвестирование: способы, риски, субъекты : монография</p>
					<p class="arrivals__card__body__third-line">Майфат А.В.</p>
					<h4>372₽ </h4>
					<div class="arrivals__card__body__rating">
						<span>{% include 'assets/svg/star.svg' %}4.9</span>
						<span>{% include 'assets/svg/like.svg' %}89% рекомендуют</span>
					</div>
				</div>
				<div class="arrivals__card__footer">
					<button class="arrivals__card__footer__button1">
						{% include 'assets/svg/icon5.svg' %}
							<span>В корзину</span>
					</button>
					<button class="arrivals__card__footer__button2">
						{% include 'assets/svg/icon6.svg' %}
					</button>
				</div>
			</div>
		</div>
		<div class="arrivals__card arrivals__card3">
			<div class="arrivals__container">
				<div class="arrivals__card__header">
					<h4>Бестселлер</h4>
					<span>1+1=3</span>
				</div>
				<div class="arrivals__card__title">
					<picture>
						<img src="img/image3.png" alt="">
					</picture>
				</div>
				<div class="arrivals__card__body">
					<p class="arrivals__card__body__first-line">Корпоративное право</p>
					<p class="arrivals__card__body__second-line">Инвестирование: способы, риски, субъекты : монография</p>
					<p class="arrivals__card__body__third-line">Майфат А.В.</p>
					<h4>4450₽ </h4>
					<div class="arrivals__card__body__rating">
						<span>{% include 'assets/svg/star.svg' %}4.9</span>
						<span>{% include 'assets/svg/like.svg' %}89% рекомендуют</span>
					</div>
				</div>
				<div class="arrivals__card__footer">
					<button class="arrivals__card__footer__button1">
						{% include 'assets/svg/icon5.svg' %}
							<span>В корзину</span>
					</button>
					<button class="arrivals__card__footer__button2">
						{% include 'assets/svg/icon6.svg' %}
					</button>
				</div>
			</div>
		</div>
		<div class="arrivals__card arrivals__card1">
			<div class="arrivals__container">
				<div class="arrivals__card__header">
					<h4>Бестселлер</h4>
					<span>1+1=3</span>
				</div>
				<div class="arrivals__card__title">
					<picture>
						<img src="img/image1.png" alt="">
					</picture>
				</div>
				<div class="arrivals__card__body">
					<p class="arrivals__card__body__first-line">Корпоративное право</p>
					<p class="arrivals__card__body__second-line">Инвестирование: способы, риски, субъекты : монография</p>
					<p class="arrivals__card__body__third-line">Майфат А.В.</p>
					<h4>4450₽ </h4>
					<div class="arrivals__card__body__rating">
						<span>{% include 'assets/svg/star.svg' %}4.9</span>
						<span>{% include 'assets/svg/like.svg' %}89% рекомендуют</span>
					</div>
				</div>
				<div class="arrivals__card__footer">
					<button class="arrivals__card__footer__button1">
						{% include 'assets/svg/icon5.svg' %}
						<span>В корзину</span>
					</button>
					<button class="arrivals__card__footer__button2">
						{% include 'assets/svg/icon6.svg' %}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>