.container
{
	max-width: 1180px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0 20px;
}
.index-container{
	background-color: #f6f6f6;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0 20px;
}

