@font-face
{
	font-family: 'Roboto-mono';
	src: url('./fonts/Roboto_mono/Light/RobotoMono-Light.eot');
	src: url('./fonts/Roboto_mono/Light/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.woff2') format('woff2'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.woff') format('woff'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.svg#RobotoMono-Light') format('svg'),
		url('./fonts/Roboto_mono/Light/RobotoMono-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto';
	src:
		url('./fonts/Roboto/Bold/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face
{
	font-family: 'Gosha Sans';
	src:
		url('./fonts/Light/GoshaSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto-mono';
	src: url('./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot');
	src: url('./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff2') format('woff2'),
		url('./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff') format('woff'),
		url('./fonts/Roboto_mono/Thin/RobotoMono-Thin.svg#RobotoMono-Thin') format('svg'),
		url('./fonts/Roboto_mono/Thin/RobotoMono-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto';
	src:
		url('./fonts/Roboto/Medium/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Roboto';
	src:
		url('./fonts/Roboto/Regular/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}