
<div class="main-section">
	<div class="main-section__left">
		<div class="main-section__top">
			<button class="main-section__top__button-1">
				{% include 'assets/svg/button1.svg' %}
			</button>
			<div class="main-section__top__content">
				{% include 'assets/svg/Group 1014.svg' %}
			</div>
			<button class="main-section__top__button-2">
				{% include 'assets/svg/button2.svg' %}
			</button>
		</div>
		<div class="main-section__bottom">
			<div class="main-section__column-1">
				<div class="main-section__icon-1">
					{% include 'assets/svg/text1.svg' %}
				</div>
				<div class="main-section__icon-2">
					{% include 'assets/svg/ico2.svg' %}
				</div>
			</div>
			<div class="main-section__column-2">
				<div class="main-section__icon-3">
					{% include 'assets/svg/text2.svg' %}
				</div>
				<div class="main-section__icon-4">
					{% include 'assets/svg/ico4.svg' %}
				</div>
			</div>
		</div>
	</div>
	<div class="main-section__right">
		<div class="main-section__card">
			<div class="main-section__card__header">
				<h4>Книга дня</h4>
				<span>08:56:31</span>
			</div>
			<div class="main-section__card__title">
				<picture>
				<img src="img/title.png" alt="title">
				</picture>
			</div>
			<div class="main-section__card__body">
				<p class="main-section__card__body__first-line">Корпоративное право</p>
				<p class="main-section__card__body__second-line">Инвестирование: способы, риски, субъекты : монография</p>
				<p class="main-section__card__body__third-line">Майфат А.В.</p>
				<h4>4450₽ </h4>
			</div>
			<div class="main-section__card__footer">
				<button class="main-section__card__footer__button1">
					{% include 'assets/svg/icon5.svg' %}
					<span>В корзину</span>
				</button>
				<button class="main-section__card__footer__button2">
					{% include 'assets/svg/icon6.svg' %}
				</button>
			</div>
		</div>
	</div>
</div>
