
.main-section
{
display:flex;
justify-content: space-between;
padding-top: 30px;
	&__top
	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 750px;
	height: 350px;
	background: #CCFF90;
	border-radius: 5px;
		& button
		{
			border: none;
		}
	}
	&__bottom
	{
	width: 750px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	}
	&__column-1
	{
	display: flex;
	width: 360px;
	height: 140px;
	background: #6D378F;
	border-radius: 5px;
	}
	&__icon-1
	{
	margin-top: 32px;
	margin-left: 15px;
	}
	&__icon-2
	{
	margin-top: 20px;
	margin-left: 13px;
	}
	&__column-2
	{
	display: flex;
	width: 360px;
	height: 140px;
	background: #FFD8EF;
	border-radius: 5px;
	}
	&__icon-3
	{
	margin-top: 35px;
	margin-left: 25px;
	}
	&__icon-4
	{
	margin-top: 20px;
	margin-left: 23px;
	}
	&__right
	{
	position: relative;
	width: 360px;
	height: 520px;
	border-radius: 5px;
	background: #FFFFFF;
	}
	&__card
	{
	width: 320px;
	margin: 0 auto;
		&__header
		{
		display: flex;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 14px;
			& h4
			{
			letter-spacing:0.5px;
			padding-top: 18px;
			color: #1C294D;
			}
			& span
			{
			position: absolute;
			top: 20px;
			right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 68px;
			height: 25px;
			background: rgba(255, 122, 0, 0.15);
			border-radius: 5px;
			color: #FF7A00;
			font-size:12px;
			}
		}
		&__title
		{
		height: 250px;
		width:167px;
		margin: 0 auto;
		margin-bottom: 15px;
		}
		&__body
		{
			& p:not(&__second-line)
			{
			margin: 0;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 13px;
			}
			&__second-line
			{
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: #1C294D;
			}
			& h4
			{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #1C294D;
			margin-top: 5px;
			}
		}
		&__footer
		{
		display: flex;
		margin-top:12px;
			&__button1
			{
			height: 40px;
			width: 146px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #eee;
			border-radius: 5px;
			outline: none;
			margin-right: 10px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 15px;
				& span
				{
				padding-left: 11.67px;
				}
			}
			&__button2
			{
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #eee;
			border-radius: 5px;
			}
		}
	}
}