@charset "UTF-8";

/* mixins */

/* Mixins:
   ========================================================================== */

/* Fonts Helpers:
	 Read more: https://github.com/vedees/webpack-template/blob/master/README.md#add-fonts
	 ========================================================================== */

/*
	By default template support only modern format fonts
	Without svg. Only: .woff, .woffs
	if ypu need svg comments lines bellow and uncomments "Fonts helper all format fonts"

	Usage:
	  1. Put your font to `src/assets/fonts/FOLDERNAME/FONTNAME`
		FOLLOW: Files Required
		Example: .woff, .woffs formats
	  2. Go to fonts.scss
	  3. Use mixon
		Example: @include font-face("OpenSans", "../fonts/OpenSans/opensans");

	  Required parameters: @family, @family
	  Minor parameters: @weight, @style, @pipeline

	  Example Base:
		@include font-face("OpenSans", "../fonts/OpenSans/opensans");
	  Example Situation:
		@include font-face("OpenSans", "../fonts/OpenSans/opensansItalic", 400, italic);
  */

/* base */

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Light/RobotoMono-Light.eot");
  src: url("./fonts/Roboto_mono/Light/RobotoMono-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.woff2") format("woff2"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.woff") format("woff"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.svg#RobotoMono-Light") format("svg"), url("./fonts/Roboto_mono/Light/RobotoMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gosha Sans';
  src: url("./fonts/Light/GoshaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-mono';
  src: url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot");
  src: url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff2") format("woff2"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.woff") format("woff"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.svg#RobotoMono-Thin") format("svg"), url("./fonts/Roboto_mono/Thin/RobotoMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Medium/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto/Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  Переменные со шрифтами  */

/*  Переменные с гарнитурами шрифтов  */

/* Настройки оснвоно шрифта */

/* Основные цвета */

/* Разрешения */

/*  сбрасывает браузерное отображение элементов т.к. разные браузеры по разному отображают одно и тоже  */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  background-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  padding: 0;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body {
  font-family: "Roboto-mono", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  letter-spacing: 2.4px;
  line-height: 24px;
  margin: 0px 0 8px 0;
}

p {
  margin-top: 10px;
  color: #6a7678;
}

b {
  font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: 0;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 20px;
}

.index-container {
  background-color: #f6f6f6;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0 20px;
}

.pln {
  color: #000;
}

pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}

/* blocks */

header {
  background-color: #FFFFFF;
  width: 100%;
}

.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #FFFFFF;
}

.head a {
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(28, 41, 77, 0.8);
}

.head a:not(:last-child) {
  margin-right: 31.67px;
}

.head__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.head__left a:not(:first-child) li {
  padding-left: 6.67px;
}

.head__left a:first-child li {
  padding-left: 9.17px;
}

.head__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.head__right a:first-child li {
  padding-left: 8.67px;
}

.head__right a:last-child li {
  padding-left: 8px;
  padding-right: 6.67px;
}

.header-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 1px;
  border-top: 1px solid #E5E5E5;
}

.header-body__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.header-body__left__search-form {
  width: 573px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
}

.header-body__left__search {
  height: 40px;
  width: 450px;
  padding-left: 15px;
  border: 1px solid #DFE0E1;
  border-right: none;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
}

.header-body__left__button {
  height: 40px;
  width: 123px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #FF7A00;
  color: #fff;
  border: none;
  -webkit-border-radius: 0 9px 9px 0;
  border-radius: 0 9px 9px 0;
}

.header-body__left__button span {
  padding-left: 6.67px;
}

.header-body__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.header-body__right a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1C294D;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.header-body__right a:not(:last-child) {
  margin-right: 31.67px;
}

.header-body__right a:first-child li {
  padding-left: 10px;
}

.header-body__right a:not(:first-child) li {
  padding-left: 6.67px;
}

.header-body__right a:last-child {
  position: relative;
}

.header-body__right a:last-child span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background: #FF7A00;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  color: #FFFFFF;
  position: absolute;
  top: -7px;
  left: 11px;
}

.header-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  margin-left: 2px;
}

.header-menu ul a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1C294D;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.header-menu ul a:not(:nth-child(3)) {
  margin-right: 25px;
}

.header-menu ul a:first-child li {
  padding-left: 8.33px;
}

.header-menu ul a:nth-child(4) {
  margin-left: 26.67px;
  color: #FF283D;
}

.header-menu ul a:nth-child(4) li {
  padding-left: 6.67px;
}

/* pages */

.main-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
}

.main-section__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 750px;
  height: 350px;
  background: #CCFF90;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.main-section__top button {
  border: none;
}

.main-section__bottom {
  width: 750px;
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-section__column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: 140px;
  background: #6D378F;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.main-section__icon-1 {
  margin-top: 32px;
  margin-left: 15px;
}

.main-section__icon-2 {
  margin-top: 20px;
  margin-left: 13px;
}

.main-section__column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: 140px;
  background: #FFD8EF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.main-section__icon-3 {
  margin-top: 35px;
  margin-left: 25px;
}

.main-section__icon-4 {
  margin-top: 20px;
  margin-left: 23px;
}

.main-section__right {
  position: relative;
  width: 360px;
  height: 520px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #FFFFFF;
}

.main-section__card {
  width: 320px;
  margin: 0 auto;
}

.main-section__card__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 14px;
}

.main-section__card__header h4 {
  letter-spacing: 0.5px;
  padding-top: 18px;
  color: #1C294D;
}

.main-section__card__header span {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 68px;
  height: 25px;
  background: rgba(255, 122, 0, 0.15);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FF7A00;
  font-size: 12px;
}

.main-section__card__title {
  height: 250px;
  width: 167px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.main-section__card__body p:not(.main-section__card__body__second-line) {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
}

.main-section__card__body__second-line {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #1C294D;
}

.main-section__card__body h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #1C294D;
  margin-top: 5px;
}

.main-section__card__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.main-section__card__footer__button1 {
  height: 40px;
  width: 146px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.main-section__card__footer__button1 span {
  padding-left: 11.67px;
}

.main-section__card__footer__button2 {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.arrivals {
  height: 562px;
  background: #FFFFFF;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.arrivals__new-arrivals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.arrivals__head {
  height: 60px;
  border-bottom: 1px solid rgba(28, 41, 77, 0.15);
}

.arrivals__head h2 {
  padding-top: 18px;
  margin-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.arrivals__container {
  width: 223px;
  margin: 0 auto;
}

.arrivals__card {
  position: relative;
  width: 263px;
  height: 460px;
  background-color: #f5f5f5;
}

.arrivals__card__header h4 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 86px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #EEE9F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1px;
  color: #AC8EE3;
}

.arrivals__card__header span {
  position: absolute;
  top: 55px;
  left: 20px;
  background: #FFEEEE;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #FF4F52;
  padding: 5px 10px;
}

.arrivals__card__title {
  width: 140px;
  height: 200px;
  margin: 0 auto;
  padding-top: 25px;
}

.arrivals__card__body {
  padding-top: 40px;
}

.arrivals__card__body p {
  margin: 0;
}

.arrivals__card__body p:not(.arrivals__card__body__second-line) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(28, 41, 77, 0.5);
  padding-bottom: 8px;
}

.arrivals__card__body__second-line {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #1C294D;
  padding-bottom: 8px;
}

.arrivals__card__body h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #1C294D;
}

.arrivals__card__body__rating span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #7986CB;
}

.arrivals__card__body__rating span:first-child {
  width: 52px;
  height: 25px;
  background: #fcac;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FBC02D;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 9px;
  padding-right: 6px;
}

.arrivals__card__body__rating span:last-child {
  background-color: #EEE9F7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #AC8EE3;
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 11.25px;
  padding-right: 10px;
}

.arrivals__card__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.arrivals__card__footer__button1 {
  height: 40px;
  width: 146px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.arrivals__card__footer__button1 span {
  padding-left: 11.67px;
}

.arrivals__card__footer__button2 {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 17px;
  font-size: 13px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

@media screen {
  .str {
    color: #080;
  }

  .kwd {
    color: #008;
  }

  .com {
    color: #800;
  }

  .typ {
    color: #606;
  }

  .lit {
    color: #066;
  }

  .clo,
  .opn,
  .pun {
    color: #660;
  }

  .tag {
    color: #008;
  }

  .atn {
    color: #606;
  }

  .atv {
    color: red;
  }

  .dec,
  .var {
    color: #606;
  }

  .fun {
    color: red;
  }
}

@media print, projection {
  .kwd,
  .tag,
  .typ {
    font-weight: 700;
  }

  .str {
    color: #060;
  }

  .kwd {
    color: #006;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
  }

  .lit {
    color: #044;
  }

  .clo,
  .opn,
  .pun {
    color: #440;
  }

  .tag {
    color: #006;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: red;
  }
}