	{% extends "layouts/layout.twig" %}

	{% block page %}
		<div class="index-container">
	<div class="container">
		{% include 'blocks/main_section/main_section.twig' %}

		{% include 'blocks/new_arrivals/arrivals.twig' %}
	</div>
	</div>
	{% endblock %}