
<header>
	<div class="container">
		<div class="head">
			<ul class="head__left">
				<a href="#">
					{% include 'assets/svg/header/icon1.svg' %}
					<li>Москва</li>
				</a>
				<a href="#">
					{% include 'assets/svg/header/icon2.svg' %}
					<li>Доставка и оплата</li>
				</a>
				<a href="#">
					{% include 'assets/svg/header/icon3.svg' %}
					<li>Адрес и часы работы</li>
				</a>
			</ul>
			<ul class="head__right">
				<a href="#">
					{% include 'assets/svg/header/icon4.svg' %}
					<li>market@estatut.ru</li>
				</a>
				<a href="#">
					{% include 'assets/svg/header/icon5.svg' %}
					<li>8 (968) 660-65-50</li>
					{% include 'assets/svg/header/icon6.svg' %}	
				</a>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="header-body">
			<div class="header-body__left">
				<div class="header-body__logo">
					{% include 'assets/svg/header/logo.svg' %}	
				</div>
				<form action="" class="header-body__left__search-form" name="search">
					<input class="header-body__left__search" type="text" name="" placeholder="Автор,название, ISBN">
					<button class="header-body__left__button">
						{% include 'assets/svg/header/icon7.svg' %}	
						<span>Искать</span>
					</button>
				</form>
			</div>
			<ul class="header-body__right">
				<a href="#">
					{% include 'assets/svg/header/icon8.svg' %}	
					<li>Отложено</li>
				</a>
				<a href="#">
					{% include 'assets/svg/header/icon9.svg' %}	
					<li>Войти</li>
				</a>
				<a href="#">
					{% include 'assets/svg/header/icon10.svg' %}	
					<span>10</span>
					<li>Корзина</li>
				</a>
			</ul>

		</div>
	</div>
	<div class="container">
		<nav class="header-menu">
			<ul>
				<a href="#">
					{% include 'assets/svg/header/icon11.svg' %}
					<li>Каталог</li>
				</a>
				<a href="#">
					<li>Авторы</li>
				</a>
				<a href="#">
					<li>Новинки</li>
				</a>
				<a href="#">
					{% include 'assets/svg/header/icon12.svg' %}
					<li>Скидки</li>
				</a>
				<a href="#">
					<li>Партнёрам</li>
				</a>
				<a href="#">
					<li>Мы</li>
				</a>
			</ul>
		</nav>
	</div>
</header>
