header{
	background-color: #FFFFFF;
	width: 100%;
}
&.head
{
display: flex;
justify-content: space-between;
background: #FFFFFF;
	& a
	{
	height:20px;
	display: flex;
	align-items: center;
	margin-top:15px;
	margin-bottom: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: rgba(28, 41, 77, 0.8);
	}
	& a:not(:last-child)
	{
		margin-right: 31.67px;
	}
	&__left
	{
		display:flex;
		& a:not(:first-child) li
		{
			padding-left: 6.67px;
		}
		& a:first-child li
		{
			padding-left: 9.17px;
		}
	}
	&__right
	{
		display:flex;
		justify-content: flex-end;
		& a:first-child li
		{
			padding-left: 8.67px;
		}
		& a:last-child li
		{
			padding-left: 8px;
			padding-right: 6.67px;
		}
	}
}
&.header-body
{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 14px;
margin-top:1px;
border-top: 1px solid #E5E5E5;
	&__left
	{
	display: flex;
	margin-top: 20px;
	&__search-form
	{
	width: 573px;
	height: 40px;
	display:flex;
	align-items: center;
	margin-left: 30px;
	}
	&__search
	{
	height: 40px;
	width:450px;
	padding-left: 15px;
	border:1px solid #DFE0E1;
	border-right: none;
	border-radius: 5px 0 0 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.5);
	}
	&__button
	{
	height:40px;
	width:123px;
	display:flex;
	align-items: center;
	justify-content: center;
	background:#FF7A00;
	color: #fff;
	border: none;
	border-radius: 0 9px 9px 0;
		& span
		{
			padding-left: 6.67px;
		}
	}
	}
	&__right
	{
	display: flex;
	margin-top:15px;
		& a
		{
		display: flex;
		align-items:center;
		color: #1C294D;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		}
		& a:not(:last-child)
		{
		margin-right: 31.67px;
		}
		& a:first-child li
		{
		padding-left: 10px;
		}
		& a:not(:first-child) li
		{
		padding-left: 6.67px;
		}
		& a:last-child
		{
		position: relative;
		}
		& a:last-child span
		{
		display: flex;
		align-items: center;
		justify-content: center;
		height:15px;
		width: 15px;
		background:#FF7A00;
		border-radius:50%;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 9px;
		line-height: 11px;
		color: #FFFFFF;
		position: absolute;
		top: -7px;
		left: 11px;
		}

	}
}
&.header-menu ul
{
display: flex;
padding-bottom: 20px;
margin-left:2px;
	& a
	{
	display:flex;
	align-items: center;
	color: #1C294D;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	}
	& a:not(:nth-child(3))
	{
	margin-right: 25px;
	}
	& a:first-child li
	{
	padding-left: 8.33px;
	}
	& a:nth-child(4)
	{
	margin-left: 26.67px;
	color:#FF283D;
	}
	& a:nth-child(4) li
	{
	padding-left: 6.67px;
	}
}